@charset "UTF-8";

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FiraSans";
  font-display: swap;
  src: url("../fonts/FiraSans-Regular.woff") format("woff"), url("../fonts/FiraSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
botton,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.progectUsSection__content {
  padding: 6vh 20px 6vh 20px;
  max-width: 1460px;
  margin: 0 auto;
  text-transform: uppercase;
}

.progectUsSection__content h2 {
  margin-bottom: 10px;
}

.progectUsSection__content-button {
  padding-top: 50px;
  text-align: center;
}

.progectUsSection__content-button a {
  background-color: black;
  border: 1px solid black;
  padding: 10px 25px;
  font-size: calc(14px + 6 * ((100vw - 320px) / 1600));
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.progectUsSection__content-button a:hover {
  background-color: white;
  color: black;
}

.bar {
  background-color: white;
  padding: 20px 0 0 0;
}

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

/* Слайд */

.slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 30px;
  margin-right: 10px;
}

.slider {
  position: relative;
  padding: 0px 5vw;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

.slick-arrow:focus {
  outline: 0;
}

.slick-arrow.slick-prev {
  left: 0px;
  background: url("/img/slider/left.png") 0 0/100% no-repeat;
}

.slick-arrow.slick-next {
  right: 0px;
  background: url("/img/slider/right.png") 0 0/100% no-repeat;
}

/* Точки (булиты) */

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slick-dots li {
  list-style: none;
  margin: 0 10px;
}

/* Активная точка */

.slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #c9c9c9;
}

/* Элемент точки */

.slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #c9c9c9;
  border-radius: 50%;
}

.slick-dots li button:focus {
  outline: 0;
}

.slick-dots li button:hover {
  background-color: black;
}

.slider__item img {
  width: 18vw;
}

header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3000;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent));
  background: -o-linear-gradient(black, transparent);
  background: linear-gradient(black, transparent);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header.out {
  z-index: 1000;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

header .header__content {
  z-index: 1000;
  text-shadow: 1px 1px 2px black, 0 0 1em black;
  font-size: calc(16px + 4 * ((100vw - 976px) / 944));
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .header__content-logo {
  z-index: 1000;
  max-width: 20%;
}

header .header__content-logo img {
  max-width: 50%;
}

header .header__content__menu {
  z-index: 1000;
  padding-right: 13vw;
}

header .header__content__menu ul {
  padding-bottom: 0;
  margin-bottom: 0;
  padding-left: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header__content__menu ul li {
  margin-right: 60px;
  text-decoration: none;
}

header .header__content__menu ul li a:hover {
  color: white;
  text-decoration: none;
}

header .header__content__menu ul li:last-child {
  margin-right: 0px;
}

header .header__content-phone {
  z-index: 1000;
}

header .header__content-phone a:hover {
  color: white;
  text-decoration: none;
}

.headerW {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.headerW.outW {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.headerW .headerW__content {
  text-shadow: 1px 1px 2px black, 0 0 1em black;
  font-size: calc(16px + 4 * ((100vw - 976px) / 944));
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.headerW .headerW__content-logoW {
  max-width: 20%;
}

.headerW .headerW__content-logoW img {
  max-width: 50%;
}

.headerW .headerW__content__menuW {
  padding-right: 13vw;
}

.headerW .headerW__content__menuW ul {
  padding-left: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerW .headerW__content__menuW ul li {
  margin-right: 60px;
}

.headerW .headerW__content__menuW ul li:last-child {
  margin-right: 0px;
}

.header__burger {
  display: none;
}

.mainSection {
  max-height: 100vh;
  z-index: 0;
  position: relative;
}

.mainSection img {
  max-height: 100vh;
  width: 100%;
}

.mainSection__content {
  text-align: center;
  height: 100%;
  width: 80%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 50;
  position: absolute;
  padding: 0 20px;
  z-index: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mainSection__content h1 {
  font-size: calc(14px + 56 * ((100vw - 320px) / 1600));
  margin-bottom: 40px;
}

.mainSection__content p {
  padding: 1vh 0 3vh 0;
  font-size: calc(12px + 14 * ((100vw - 320px) / 1600));
  font-weight: 200;
  margin-bottom: 20px;
  line-height: 20px;
}

.mainSection__content a {
  cursor: pointer;
  font-size: calc(12px + 18 * ((100vw - 320px) / 1600));
  border: 2px solid white;
  padding: 10px 40px;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.mainSection__content a:hover {
  color: black;
  background-color: white;
}

.aboutUsSection {
  background-color: #3c3c3c;
}

.aboutUsSection__content {
  padding: 5vh 30px;
  max-width: 1460px;
  margin: 0 auto;
}

.aboutUsSection__content h2 {
  margin-bottom: 10px;
}

.aboutUsSection__content__text {
  max-width: 1160px;
  margin: 0 auto;
}

.aboutUsSection__content__text p {
  line-height: 30px;
  font-size: calc(12px + 10 * ((100vw - 320px) / 1600));
  font-weight: 300;
  padding: 10px 0;
}

.pAmainSection {
  overflow-x: hidden;
}

.pAmainSection__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  position: relative;
}

.pAmainSection__content:after {
  content: "Наши проекты";
  text-transform: uppercase;
  font-size: calc(26px + 22 * ((100vw - 320px) / 1600));
  line-height: 59px;
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  width: 100vw;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 0;
}

.pAmainSection__content-item {
  position: relative;
}

.pAmainSection__content-item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.pAmainSection__content-item img {
  z-index: -1;
  height: 100%;
  width: 100%;
}

.firsprogect {
  max-width: 1160px;
  margin: 0 auto;
  color: black;
}

.firsprogect h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: calc(28px + 8 * ((100vw - 320px) / 1600));
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  line-height: 44px;
  margin-bottom: 50px;
}

.firsprogect__content {
  padding: 100px 20px;
}

.firsprogect__content-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3em;
  grid-template-rows: auto;
  grid-template-areas:
    "grid1 grid2 grid3"
    "grid4 grid5 grid6"
    "grid7 grid7 grid8";
}

.firsprogect__content-item img {
  width: 100%;
}

.firsprogect__content-item .catalogIMG a {
  display: inline-block;
  overflow: hidden;
  height: auto;
}

.firsprogect__content-item .catalogIMG a img {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  display: block;
}

.firsprogect__content-item .catalogIMG a img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.firsprogect__content-item .grid1 {
  grid-area: grid1;
}

.firsprogect__content-item .grid2 {
  grid-area: grid2;
}

.firsprogect__content-item .grid3 {
  grid-area: grid3;
}

.firsprogect__content-item .grid4 {
  grid-area: grid4;
  margin-top: -5px;
}

.firsprogect__content-item .grid5 {
  grid-area: grid5;
  margin-top: -190px;
}

.firsprogect__content-item .grid6 {
  grid-area: grid6;
  margin-top: -200px;
  height: 100%;
}

.firsprogect__content-item .grid7 {
  grid-area: grid7;
}

.firsprogect__content-item .grid8 {
  margin-top: -130px;
  grid-area: grid8;
  height: 100%;
}

.firsprogect__content-item h2 {
  padding-top: 2vw;
  text-transform: uppercase;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: calc(12px + 6 * ((100vw - 320px) / 1600));
  line-height: 22px;
}

.firsprogect__content-item h2 a {
  color: black;
}

.firsprogect__content-item p {
  padding-top: 1.5vw;
  color: black;
  font-family: FiraSans;
  font-style: normal;
  font-weight: 300;
  font-size: calc(10px + 6 * ((100vw - 320px) / 1600));
  line-height: 19px;
}

.room__content {
  padding: 146px 20px 20px 20px;
  margin: 0 auto;
  max-width: 1200px;
  color: black;
}

.room__content-item-up {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.room__content-item-up .room__text h2 {
  text-transform: uppercase;
  margin-bottom: 50px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 49px;
}

.room__content-item-up .room__text p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: 37px;
  text-align: center;
  font-size: calc(14px + 6 * ((100vw - 320px) / 1600));
  padding-bottom: 50px;
}

.room__content-item-up .room__text a {
  text-transform: uppercase;
  color: #000;
  border: 1px solid black;
  padding: 10px 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.room__content-item-up .room__text a:hover {
  color: #fff;
  background-color: black;
}

.room__content-item-down .room__box {
  padding: 50px 0px 0px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  grid-gap: 2em;
}

.room__content-item-down .room__box-image a {
  min-height: 600px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.room__content-item-down .room__box-image a:hover {
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
}

.room__content-item-down .room__box-image a img {
  width: 100%;
  height: 100%;
}

.product__content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 250px 20px 150px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.product__content-image {
  width: 50%;
}

.product__content-image img {
  width: 100%;
}

.product__content-text {
  width: 50%;
  padding: 20px 0px 20px 50px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.product__content-text h2 {
  text-align: center;
  font-size: calc(22px + 13 * ((100vw - 320px) / 1600));
}

.product__content-text-btn {
  font-size: calc(12px + 8 * ((100vw - 320px) / 1600));
  text-align: center;
  margin: 20px auto;
}

.product__content-text-btn a {
  background-color: black;
  padding: 10px 30px;
  border-radius: 25px;
}

.product__content-text ul {
  font-size: calc(10px + 6 * ((100vw - 320px) / 1600));
}

.product__content-text ul li {
  border-bottom: 1px solid #000;
  padding: 10px 0 10px 0;
  color: #d38c24;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.product__content-text ul li span {
  color: black;
}

.popularItem__content {
  padding: 50px 20px 20px 0px;
  max-width: 1120px;
  margin: 0 auto;
}

.popularItem__content-slider {
  overflow: hidden;
}

.popularItem__content-slider-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.popularItem__content-slider-track-item {
  padding: 0px 0px 20px 20px;
}

.popularItem__content-slider-buttons {
  text-align: end;
  padding-bottom: 20px;
}

.popularItem__content-slider-buttons-prev {
  width: 50px;
  padding: 10px 15px;
  border-radius: 15px;
  margin-right: 20px;
}

.popularItem__content-slider-buttons-next {
  width: 50px;
  padding: 10px 15px;
  border-radius: 15px;
}

.catalogSection {
  color: black;
}

.catalogSection__content {
  padding: 8vh 30px 8vh 30px;
  max-width: 1460px;
  margin: 0 auto;
}

.catalogSection__content h2 {
  margin-bottom: 30px;
  text-transform: uppercase;
}

.catalogSection__content-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 5vw;
  max-width: 1160px;
  margin: 0 auto;
}

.catalogSection__content-item-box {
  padding: 40px 0;
}

.catalogSection__content-item-box img {
  padding-bottom: 54px;
  width: 50px;
}

.catalogSection__content-item-box p {
  border-top: 1px solid #000;
  padding-top: 35px;
  font-family: FiraSans;
  font-style: normal;
  font-weight: 500;
  font-size: calc(14px + 4 * ((100vw - 320px) / 1600));
  line-height: 22px;
}

.catalogSection__content-button {
  text-align: center;
  padding-top: 30px;
}

.catalogSection__content-button a {
  color: white;
  border: 2px solid black;
  border-radius: 40px;
  padding: 15px 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: calc(14px + 12 * ((100vw - 320px) / 1600));
  line-height: 42px;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  background-color: black;
}

.catalogSection__content-button a:hover {
  color: black;
  background-color: white;
}

.footer {
  background: url("../img/footer.png") no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: -2;
}

.footer:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.footer__content {
  padding: 400px 20px 83px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1460px;
}

.footer__content__icon {
  width: 20%;
}

.footer__content__icon-logo img {
  width: 100%;
}

.footer__content__icon-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.footer__content__icon-icons .icon__link {
  padding-top: 50px;
}

.footer__content__icon-icons .icon__link a {
  font-size: calc(16px + 14 * ((100vw - 320px) / 1600));
  border-radius: 50%;
  background-color: #343332;
  color: #a79d9e;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.footer__content__icon-icons .icon__link a:hover {
  background-color: #fff;
  color: #000;
}

.footer__content__icon-icons .icon__link .inst {
  padding: 8px 14px;
}

.footer__content__icon-icons .icon__link .vk {
  padding: 8px 11px;
}

.footer__content__icon-icons .icon__link .wats {
  padding: 8px 14px;
}

.footer__content__info {
  padding: 0 0 0 101px;
  width: 70%;
  font-family: Montserrat;
}

.footer__content__info-title {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

.footer__content__info-title-text h2 {
  color: white;
  font-weight: 500;
  font-size: calc(20px + 16 * ((100vw - 320px) / 1600));
  line-height: 44px;
}

.footer__content__info-title-text p {
  color: white;
  padding-top: 30px;
  font-weight: 500;
  font-size: calc(14px + 5 * ((100vw - 320px) / 1600));
  line-height: 23px;
}

.footer__content__info-title-button a {
  text-transform: uppercase;
  font-weight: 500;
  font-size: calc(14px + 4 * ((100vw - 320px) / 1600));
  line-height: 22px;
  padding: 15px 25px;
  border: 1px solid rgba(255, 255, 255, 0.9);
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.footer__content__info-title-button a:hover {
  background: rgba(255, 255, 255, 0.9);
  color: black;
}

.footer__content__info-contact {
  max-width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: white;
}

.footer__content__info-contact-left {
  padding-top: 101px;
}

.footer__content__info-contact-left ul li {
  padding-top: 33px;
}

.footer__content__info-contact-left ul li:first-child {
  padding-top: 0;
}

.footer__content__info-contact-left ul li a {
  text-decoration: none;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1600));
  font-weight: 200;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.footer__content__info-contact-left ul li a:hover {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 3px #fff, 0 0 3px #fff;
}

.footer__content__info-contact-right {
  padding-top: 91px;
}

.footer__content__info-contact-right h3 {
  font-size: calc(12px + 4 * ((100vw - 320px) / 1600));
  font-weight: 400;
}

.footer__content__info-contact-right .phone__footer {
  padding-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__content__info-contact-right .phone__footer a {
  margin-top: 10px;
  text-decoration: none;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1600));
  font-weight: 200;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.footer__content__info-contact-right .phone__footer a:hover {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 3px #fff, 0 0 3px #fff;
}

.footer__content__info-contact-right ul {
  padding-top: 33px;
}

.footer__content__info-contact-right ul li {
  cursor: pointer;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  text-decoration: none;
  padding-top: 33px;
  font-size: calc(11px + 5 * ((100vw - 320px) / 1600));
  font-weight: 200;
}

.footer__content__info-contact-right ul li:hover {
  text-decoration: none;
  text-shadow: 0 0 3px #fff, 0 0 3px #fff;
}

.footer__content__info-contact-right ul li:first-child {
  padding-top: 0;
}

.footer__content__info-contact-right ul li a {
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  text-decoration: none;
}

.footer__content__info-contact-right ul li a:hover {
  text-shadow: 0 0 2px #fff, 0 0 2px #fff;
  color: white;
  text-decoration: none;
}

.footer__content__info-contact-right ul .address {
  line-height: 20px;
}

.mainContact {
  max-height: 100vh;
  z-index: 0;
  position: relative;
}

.mainContact h2 {
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  position: absolute;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: calc(30px + 30 * ((100vw - 320px) / 1600));
  line-height: 70px;
}

.mainContact img {
  max-height: 100vh;
  width: 100%;
}

.contact {
  padding: 5vh 20px 2vh 20px;
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.contact h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
  line-height: 17px;
  color: #333333;
}

.contact__contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact__contant-form {
  width: 60%;
}

.contact__contant-form-item input {
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  margin-top: 25px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
}

.contact__contant-form-item textarea {
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  margin-top: 25px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
}

.contact__contant-form-item button {
  margin-top: 15px;
  background-color: white;
  border: 1px solid black;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: calc(14px + 4 * ((100vw - 320px) / 1600));
  line-height: 22px;
  padding: 10px 20px;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.contact__contant-form-item button:hover {
  color: #fff;
  background-color: black;
}

.contact__contant__icons {
  width: 40%;
  padding: 0 0 0 80px;
}

.contact__contant__icons-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 20px;
}

.contact__contant__icons-icon-text {
  padding-left: 33px;
  color: black;
}

.contact__contant__icons-icon-text h5 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  line-height: 20px;
}

.contact__contant__icons-icon-text p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: calc(11px + 2 * ((100vw - 320px) / 1600));
  line-height: 16px;
}

.max {
  padding: 0px 20px 0 20px;
  max-width: 1140px;
  margin: 0 auto 18px auto;
  height: 500px;
}

#map {
  height: 500px;
  width: 100%;
}

.review__content {
  padding: 160px 20px 80px 20px;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  color: #000;
  font-family: "Montserrat";
}

.review__content h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: calc(28px + 8 * ((100vw - 320px) / 1600));
  font-style: normal;
  font-weight: normal;
  line-height: 44px;
  margin-bottom: 80px;
}

.review__content-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 3em;
}

.review__content-item-box-block-text {
  border-radius: 25px;
  background: -webkit-gradient(linear, left top, right top, from(#0c1328), to(#000));
  background: -o-linear-gradient(left, #0c1328, #000);
  background: linear-gradient(90deg, #0c1328, #000);
}

.review__content-item-box-block-text p {
  color: #ffffff;
  padding: 30px 25px;
  line-height: 20px;
}

.review__content-item-box-block img {
  padding-left: 72px;
  margin-top: -2px;
}

.review__content-item-box-link {
  padding: 0px 30px 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.review__content-item-box-link-icon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
}

.review__content-item-box-link-icon a img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.review__content-item-box-link-icon a p {
  padding-left: 10px;
}

.review__content-item-box-link-button a {
  color: #000;
}

.one {
  height: 100%;
}

.two {
  height: 100%;
  margin-top: 160px;
}

.three {
  height: 100%;
  margin-top: -110px;
}

.four {
  margin-top: 30px;
}

.five {
  margin-top: -100px;
}

.six {
  margin-top: 80px;
}

.seven {
  margin-top: -100px;
}

.eight {
  margin-top: 60px;
}

body.lock {
  overflow: hidden;
}

.popup {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  opacity: 1;
  -webkit-transform: perspective(0px) translate(0px, 0) rotateX(0deg);
  transform: perspective(0px) translate(0px, 0) rotateX(0deg);
}

.popup h2 {
  text-align: center;
  font-size: calc(18px + 12 * ((100vw - 320px) / 1600));
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
}

.popup__content {
  background-color: white;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  opacity: 0;
  color: black;
}

.popup__content h2 {
  text-align: start;
  font-family: FiraSans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 15px 10px;
}

.popup__clouse {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 0px 6px;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 26px;
  color: black;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

.popup__clouse:hover {
  background-color: black;
  text-decoration: none;
  color: white;
}

.popup__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 34px;
}

.popup__item input {
  min-width: 400px;
  margin-top: 40px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.popup__item-formBtn {
  padding: 40px 0;
}

.popup__item-formBtn button {
  font-family: FiraSans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: white;
  background-color: black;
  border: 1px solid black;
  padding: 10px 20px;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.popup__item-formBtn button:hover {
  background-color: white;
  color: black;
}

/* увеличенная картинка */

#magnify {
  display: none;
  position: fixed;
  max-width: 90vw;
  max-height: 90vh;
  height: auto;
  z-index: 9999;
}

#magnify img {
  width: 100%;
}

/* затемняющий фон */

#overlay {
  display: none;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  z-index: 9990;
}

/* кнопка закрытия */

#close-popup {
  width: 30px;
  height: 30px;
  background-color: #fff;
  -webkit-box-shadow: white 0px 0px 0.3em;
  box-shadow: white 0px 0px 0.3em;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}

#close-popup i {
  width: 30px;
  height: 30px;
  color: black;
  background-size: 14px 14px;
  display: block;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  position: relative;
}

#close-popup i:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  width: 50%;
  height: 2px;
  background-color: #000;
}

#close-popup i::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 50%;
  height: 2px;
  background-color: #000;
}

#close-popup i:hover {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.aboutUsSection__content h2 {
  font-size: calc(18px + 4 * ((100vw - 320px) / 1600));
  font-weight: 300;
  padding: 0 0 0px 120px;
  position: relative;
  text-transform: uppercase;
}

.aboutUsSection__content h2:before {
  position: absolute;
  content: "";
  top: 6px;
  left: 0;
  width: 100px;
  height: 2px;
  background-color: white;
}

.aboutUsSection__content h2::after {
  position: absolute;
  content: "";
  bottom: 6px;
  left: 50px;
  width: 50px;
  height: 2px;
  background-color: white;
}

.progectUsSection__content h2,
.catalogSection__content h2 {
  font-size: calc(18px + 4 * ((100vw - 320px) / 1600));
  font-weight: 400;
  padding: 0 0 0px 120px;
  position: relative;
  color: black;
  text-transform: uppercase;
}

.progectUsSection__content h2:before,
.catalogSection__content h2:before {
  position: absolute;
  content: "";
  top: 6px;
  left: 0;
  width: 100px;
  height: 2px;
  background-color: black;
}

.progectUsSection__content h2::after,
.catalogSection__content h2::after {
  position: absolute;
  content: "";
  bottom: 6px;
  left: 50px;
  width: 50px;
  height: 2px;
  background-color: black;
}

body {
  font-family: "Roboto", "sans-serif";
  color: white;
}

body a {
  color: white;
}

.line {
  background-color: black;
  width: 50%;
  height: 2px;
}

.underline {
  position: relative;
}

.underline::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 0;
  background-color: #ffffff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.underline:hover:before {
  width: 50%;
  height: 2px;
}

.underline::after {
  content: "";
  position: absolute;
  right: 50%;
  bottom: -5px;
  width: 0;
  height: 0;
  background-color: #ffffff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.underline:hover::after {
  width: 50%;
  height: 2px;
}

.wr a {
  opacity: 1;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

/*social share button*/

.menu-item,
.menu-open-button {
  background: #ffffff;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  margin-left: 0px;
  position: absolute;
  color: #000000;
  text-align: center;
  line-height: 64px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: -webkit-transform ease-out 200ms;
  -webkit-transition: -webkit-transform ease-out 200ms;
  -o-transition: transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
  display: none;
}

.menuShare {
  margin: auto;
  position: fixed;
  bottom: 10px;
  right: 60px;
  width: 80px;
  height: 80px;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 28px;
  z-index: 99;
}

.menuShare a.menu-item .fa {
  color: black;
}

/* Если добавлять элемент, то увеличивать на +1 дочернюю  */

.menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
  -o-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
  -o-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(5) {
  -webkit-transition-duration: 180ms;
  -o-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open-button img {
  -webkit-transform: scale(0.4);
  -ms-transform: scale(0.4);
  transform: scale(0.4);
  width: 100%;
}

.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
  -o-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

/* Если добавлять элемент, то увеличивать на +1 дочернюю и арифметически высчитать расстояние второго значения в пикселях  */

.menu-open:checked ~ .menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
  -o-transition-duration: 180ms;
  transition-duration: 180ms;
  -webkit-transform: translate3d(0.08361px, -84.99997px, 0);
  transform: translate3d(0.08361px, -84.99997px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(4) {
  -webkit-transition-duration: 280ms;
  -o-transition-duration: 280ms;
  transition-duration: 280ms;
  -webkit-transform: translate3d(0.08361px, -174.99997px, 0);
  transform: translate3d(0.08361px, -174.99997px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(5) {
  -webkit-transition-duration: 380ms;
  -o-transition-duration: 380ms;
  transition-duration: 380ms;
  -webkit-transform: translate3d(0.08361px, -264.99997px, 0);
  transform: translate3d(0.08361px, -264.99997px, 0);
}

/*phone*/

.phone_share_btn {
  background-color: #000000;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}

.phone_share_btn img {
  padding-top: 2px;
  -webkit-transform: scale(0.46);
  -ms-transform: scale(0.46);
  transform: scale(0.46);
  width: 100%;
}

.phone_share_btn:hover {
  color: #000000;
  text-shadow: none;
}

.whatsapp_share_btn {
  background-color: #000000;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  color: white;
}

.whatsapp_share_btn:hover {
  color: white;
  text-shadow: none;
}

/*end social share button*/

@media (max-width: 1600px) {
  #magnify {
    max-width: 500px;
  }
}

@media (max-width: 1366px) {
  #magnify {
    max-width: 450px;
  }
}

@media (max-width: 1280px) {
  #magnify {
    max-width: 450px;
  }
}

@media (max-width: 1200px) {
  .room__content-item-down .room__box {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
  }
}

@media (max-width: 1176px) {
  #magnify {
    max-width: 400px;
  }
}

@media (max-width: 1140px) {
  .footer .footer__content {
    display: block;
    padding: 50px 10px 50px 10px;
  }

  .footer .footer__content__icon {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
  }

  .footer .footer__content__icon-logo {
    text-align: center;
  }

  .footer .footer__content__icon-logo img {
    text-align: center;
    width: 30%;
  }

  .footer .footer__content__icon-icons {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer .footer__content__icon-icons .icon__link {
    padding-right: 30px;
  }

  .footer .footer__content__icon-icons .icon__link:last-child {
    padding-right: 0;
  }

  .footer .footer__content__icon-icons .icon__link .inst {
    padding: 8px 11px;
  }

  .footer .footer__content__icon-icons .icon__link .vk {
    padding: 8px 9px;
  }

  .footer .footer__content__icon-icons .icon__link .wats {
    padding: 8px 11px;
  }

  .footer .footer__content__info {
    width: 100%;
    padding: 0 20px 0 20px;
  }

  .footer .footer__content__info-title {
    display: block;
  }

  .footer .footer__content__info-title-button {
    margin-top: 40px;
  }

  .footer .footer__content__info-contact {
    max-width: 80%;
  }
}

@media (max-width: 1024px) {
  #magnify {
    max-width: 600px;
  }
}

@media (max-width: 976px) {
  header .header__content .header__content-logo img {
    max-width: 100%;
  }

  header .header__content .header__content__menu {
    padding-right: 0vw;
  }

  header .header__content-menu {
    padding-right: 0;
  }

  .header__content-phone {
    display: none;
  }

  .headerW .headerW__content .headerW__content__menuW {
    padding-right: 0vw;
  }

  .headerW .headerW__content-logoW {
    width: 100%;
    height: 100%;
  }

  .headerW .headerW__content-logoW img {
    width: 100%;
  }

  .headerW__content-phone {
    display: none;
  }

  body.lock {
    overflow: hidden;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3003;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__content__menu {
    margin-left: 10vw;
    z-index: 3;
    position: fixed;
    text-align: center;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #060608;
    padding: 80px 10px 20px 10px;
  }

  .header__content__menu.active {
    margin-left: 0vw;
    left: 0;
  }

  .header__content__menu ul {
    display: block !important;
    margin-top: 20px;
  }

  .header__content__menu ul li {
    margin: 0 0 60px 0;
    margin-right: 0px !important;
    font-size: calc(28px + 32 * ((100vw - 320px) / 656));
  }

  .headerW__content__menuW {
    margin-left: 10vw;
    z-index: 3;
    position: fixed;
    text-align: center;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #060608;
    padding: 80px 10px 20px 10px;
  }

  .headerW__content__menuW.active {
    margin-left: 0vw;
    left: 0;
  }

  .headerW__content__menuW ul {
    display: block !important;
    margin-top: 20px;
  }

  .headerW__content__menuW ul li {
    margin: 0 0 60px 0;
    margin-right: 0px !important;
    font-size: calc(28px + 32 * ((100vw - 320px) / 656));
  }

  .firsprogect__content-item {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    grid-template-rows: auto;
    text-align: center;
    grid-template-areas:
      "grid1 grid2"
      "grid3 grid4"
      "grid5 grid6"
      "grid7 grid8";
  }

  .firsprogect__content-item .grid4 {
    grid-area: grid4;
    margin-top: -260px;
  }

  .firsprogect__content-item .grid5 {
    grid-area: grid5;
    margin-top: -10px;
  }

  .firsprogect__content-item .grid6 {
    grid-area: grid6;
    margin-top: -360px;
  }

  .firsprogect__content-item .grid8 {
    grid-area: grid8;
    margin-top: -420px;
  }

  .product .product__content {
    padding: 80px 20px 20px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .product .product__content-image {
    width: 100%;
    text-align: center;
  }

  .product .product__content-image img {
    width: 50%;
  }

  .product .product__content-text {
    width: 100%;
    padding: 20px 10px 20px 10px;
  }

  .product .product__content-text-btn {
    margin-bottom: 0;
    margin-top: 40px;
  }

  .review__content {
    padding: 80px 20px 40px 20px;
  }

  .review__content h2 {
    margin-bottom: 40px;
  }

  .review__content-item {
    grid-template-columns: 1fr;
  }

  .two {
    margin-top: 0px;
  }

  .three {
    margin-top: 0px;
  }

  .four {
    margin-top: 0px;
  }

  .five {
    margin-top: 0px;
  }

  .six {
    margin-top: 0px;
  }

  .seven {
    margin-top: 0px;
  }

  .eight {
    margin-top: 0px;
  }

  .underline::before,
  .underline::after {
    display: none;
  }
}

@media (max-width: 967px) {
  .room__content {
    padding: 80px 15px;
  }

  #magnify {
    max-width: 500px;
  }
}

@media (max-width: 915px) {
  .firsprogect__content-item .grid4 {
    grid-area: grid4;
    margin-top: -240px;
  }

  .firsprogect__content-item .grid6 {
    grid-area: grid6;
    margin-top: -320px;
  }

  .firsprogect__content-item .grid8 {
    grid-area: grid8;
    margin-top: -370px;
  }
}

@media (max-width: 890px) {
  .firsprogect__content-item .grid4 {
    grid-area: grid4;
    margin-top: -210px;
  }

  .firsprogect__content-item .grid6 {
    grid-area: grid6;
    margin-top: -280px;
  }

  .firsprogect__content-item .grid8 {
    grid-area: grid8;
    margin-top: -340px;
  }
}

@media (max-width: 840px) {
  .firsprogect__content-item .grid4 {
    grid-area: grid4;
    margin-top: -220px;
  }

  .firsprogect__content-item .grid6 {
    grid-area: grid6;
    margin-top: -260px;
  }

  .firsprogect__content-item .grid8 {
    grid-area: grid8;
    margin-top: -290px;
  }
}

@media (max-width: 800px) {
  .popup__item input {
    min-width: 70vw;
  }
}

@media (max-width: 768px) {
  .mainSection__content h1 {
    padding-top: 3vh;
    margin-bottom: 5px;
  }

  .mainSection__content p {
    padding: 0.5vh 0 1vh 0;
  }

  .mainSection__content a {
    padding: 5px 20px;
  }

  .room__content-item-up .room__text h2 {
    margin-bottom: 20px;
  }

  .room__content-item-down .room__box {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1em;
  }

  .contact h3 {
    text-align: center;
  }

  .contact__contant {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .contact__contant-form {
    width: 90%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  a .contact__contant-form-item {
    text-align: center;
  }

  .contact__contant__icons {
    margin: 0 auto;
    width: 280px;
    padding: 0 10px 0 10px;
  }
}

@media (max-width: 767px) {
  .slick-arrow.slick-prev {
    left: -10px;
  }

  .slick-arrow.slick-next {
    right: -10px;
  }

  .slider__item img {
    width: 20vw;
  }

  .aboutUsSection__content__text p {
    line-height: 18px;
    padding: 1px 0;
  }
}

@media (max-width: 700px) {
  .firsprogect__content-item .grid4 {
    grid-area: grid4;
    margin-top: -180px;
  }

  .firsprogect__content-item .grid6 {
    grid-area: grid6;
    margin-top: -220px;
  }

  .firsprogect__content-item .grid8 {
    grid-area: grid8;
    margin-top: -250px;
  }
}

@media (max-width: 576px) {
  .progectUsSection__content .progectUsSection__content-button a {
    padding: 5px 10px;
  }

  .product .product__content-image img {
    width: 100%;
  }

  .catalogSection__content-item {
    grid-template-columns: repeat(1, 1fr);
  }

  .catalogSection__content {
    padding: 8vh 30px 4vh 30px;
  }

  .catalogSection__content-item-box {
    padding: 10px 0;
  }

  .catalogSection__content-item-box img {
    display: none;
  }

  .catalogSection__content-item-box p {
    border: 0 solid black;
    border-bottom: 1px solid black;
    padding-top: 0px;
    padding-bottom: 20px;
  }

  .catalogSection__content-button {
    padding-top: 2px;
  }

  .catalogSection__content-button a {
    padding: 5px 15px;
  }

  .footer .footer__content__info-contact {
    max-width: 100%;
  }

  .footer .footer__content__info-title-button {
    text-align: center;
  }

  .footer .footer__content__info-contact-left {
    padding-top: 30px;
  }

  .footer .footer__content__info-contact-left ul li {
    padding-top: 10px;
  }

  .footer .footer__content__info-contact-right {
    padding-top: 32px;
  }

  .footer .footer__content__info-contact-right .phone__footer {
    padding-top: 0px;
  }

  .footer .footer__content__info-contact-right ul {
    padding-top: 11px;
  }

  .footer .footer__content__info-contact-right ul li {
    padding-top: 10px;
  }

  .footer .footer__content__info-contact-right ul .address {
    line-height: 12px;
  }

  #magnify {
    max-width: 300px;
  }
}

@media (max-width: 511px) {
  .progectUsSection__content h2,
  .catalogSection__content h2,
  .aboutUsSection__content h2 {
    padding: 0;
    text-align: center;
  }

  .progectUsSection__content h2:before,
  .catalogSection__content h2:before,
  .progectUsSection__content h2::after,
  .catalogSection__content h2::after,
  .aboutUsSection__content h2:before,
  .aboutUsSection__content h2::after {
    display: none;
  }
}

@media (max-width: 503px) {
  .firsprogect__content-item .grid4 {
    grid-area: grid4;
    margin-top: -120px;
  }

  .firsprogect__content-item .grid6 {
    grid-area: grid6;
    margin-top: -120px;
  }

  .firsprogect__content-item .grid8 {
    grid-area: grid8;
    margin-top: -120px;
  }
}

@media screen and (max-width: 500px) {
  .menuShare {
    right: 30px;
  }
}

@media (max-width: 380px) {
  .firsprogect__content-item .grid4 {
    grid-area: grid4;
    margin-top: -100px;
  }

  .firsprogect__content-item .grid6 {
    grid-area: grid6;
    margin-top: -120px;
  }

  .firsprogect__content-item .grid8 {
    grid-area: grid8;
    margin-top: -140px;
  }
}

@media (max-width: 360px) {
  #magnify,
  #overlay,
  #close-popup,
  #close-popup i {
    width: 0;
  }
}

@media (max-width: 342px) {
  .firsprogect__content-item .grid4 {
    grid-area: grid4;
    margin-top: -60px;
  }

  .firsprogect__content-item .grid6 {
    grid-area: grid6;
    margin-top: -60px;
  }

  .firsprogect__content-item .grid8 {
    grid-area: grid8;
    margin-top: -110px;
  }
}

.webp .slick-arrow.slick-prev {
  background: url(/img/slider/left.webp) 0 0/100% no-repeat;
}

.webp .slick-arrow.slick-next {
  background: url(/img/slider/right.webp) 0 0/100% no-repeat;
}

.webp .footer {
  background: url(../img/footer.webp) no-repeat center center;
  background-size: cover;
}
