@charset "UTF-8";

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
botton,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent));
  background: -o-linear-gradient(black, transparent);
  background: linear-gradient(black, transparent);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header.out {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

header .header__content {
  text-shadow: 1px 1px 2px black, 0 0 1em black;
  font-size: calc(16px + 4 * ((100vw - 976px) / 944));
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__content-logo {
  max-width: 20%;
}

header .header__content-logo img {
  max-width: 50%;
}

header .header__content__menu {
  padding-right: 13vw;
}

header .header__content__menu ul {
  padding-left: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header__content__menu ul li {
  margin-right: 60px;
}

header .header__content__menu ul li:last-child {
  margin-right: 0px;
}

.headerW {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.headerW.outW {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.headerW .headerW__content {
  text-shadow: 1px 1px 2px black, 0 0 1em black;
  font-size: calc(16px + 4 * ((100vw - 976px) / 944));
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerW .headerW__content-logoW {
  max-width: 20%;
}

.headerW .headerW__content-logoW img {
  max-width: 50%;
}

.headerW .headerW__content__menuW {
  padding-right: 13vw;
}

.headerW .headerW__content__menuW ul {
  padding-left: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerW .headerW__content__menuW ul li {
  margin-right: 60px;
}

.headerW .headerW__content__menuW ul li:last-child {
  margin-right: 0px;
}

.header__burger {
  display: none;
}

.mainSection {
  padding-top: 7vh;
  z-index: 0;
  position: relative;
  background-size: cover !important;
  height: 100vh;
  width: 100%;
}

.mainSection:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.mainSection__content {
  padding: 0 20px;
  text-align: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainSection__content h1 {
  font-size: calc(30px + 40 * ((100vw - 320px) / 1600));
  margin-bottom: 40px;
}

.mainSection__content p {
  padding: 2vh 0 5vh 0;
  font-size: calc(16px + 10 * ((100vw - 320px) / 1600));
  font-weight: 200;
  margin-bottom: 20px;
}

.mainSection__content a {
  cursor: pointer;
  font-size: calc(20px + 10 * ((100vw - 320px) / 1600));
  border: 2px solid white;
  padding: 10px 40px;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.mainSection__content a:hover {
  color: black;
  background-color: white;
}

.aboutUsSection {
  background-color: #3c3c3c;
}

.aboutUsSection__content {
  padding: 6vh 30px;
  max-width: 1460px;
  margin: 0 auto;
}

.aboutUsSection__content h2 {
  margin-bottom: 40px;
}

.aboutUsSection__content__text {
  max-width: 1160px;
  margin: 0 auto;
}

.aboutUsSection__content__text p {
  line-height: 30px;
  font-size: calc(12px + 10 * ((100vw - 320px) / 1600));
  font-weight: 300;
  padding: 20px 0;
}

.aboutUsSection__content__text ul {
  font-size: calc(12px + 10 * ((100vw - 320px) / 1600));
  font-weight: 300;
}

.aboutUsSection__content__text ul li {
  line-height: 30px;
}

.progectUsSection__content {
  padding: 6vh 30px;
  max-width: 1460px;
  margin: 0 auto;
  text-transform: uppercase;
}

.progectUsSection__content-item {
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(3, 352px);
  grid-gap: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1160px;
  margin: 0 auto;
}

.progectUsSection__content-item img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.progectUsSection__content-item img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-filter: contrast(110%);
          filter: contrast(110%);
}

.progectUsSection__content-button {
  text-align: center;
}

.pAmainSection {
  overflow-x: hidden;
}

.pAmainSection__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative;
}

.pAmainSection__content:after {
  content: "Наши проекты";
  font-size: calc(26px + 118 * ((100vw - 320px) / 1600));
  width: 100vw;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 0;
}

.pAmainSection__content-item {
  position: relative;
}

.pAmainSection__content-item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.pAmainSection__content-item img {
  z-index: -1;
  height: 100%;
  width: 100%;
}

.firsprogect {
  max-width: 1160px;
  margin: 0 auto;
}

.firsprogect h2 {
  font-size: calc(28px + 17 * ((100vw - 320px) / 1600));
  color: black;
  margin-bottom: 50px;
}

.firsprogect__content {
  padding: 100px 20px;
}

.firsprogect__content h2 {
  text-align: center;
}

.firsprogect__content-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 1em 2em;
}

.firsprogect__content-item .one {
  position: relative;
  z-index: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.firsprogect__content-item .one a {
  display: inline-block;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  position: relative;
  display: grid;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.firsprogect__content-item .one a:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.firsprogect__content-item .one a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.firsprogect__content-item .one a img {
  width: 100%;
  z-index: 10;
}

.firsprogect__content-item .one a h3 {
  z-index: 150;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  font-size: calc(32px + 8 * ((100vw - 320px) / 1600));
  letter-spacing: 8px;
  font-weight: 100;
}

.room__content {
  padding: 130px 20px;
  margin: 0 auto;
  max-width: 1200px;
  color: black;
}

.room__content h2 {
  font-size: calc(30px + 20 * ((100vw - 320px) / 1600));
}

.room__content-item-up {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30% 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.room__content-item-up .room__logo {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  height: 220px;
  width: 220px;
}

.room__content-item-up .room__logo img {
  width: 70%;
}

.room__content-item-up .room__text h2 {
  margin-bottom: 50px;
}

.room__content-item-up .room__text p {
  font-size: calc(14px + 12 * ((100vw - 320px) / 1600));
}

.room__content-item-down {
  padding: 50px 20px 0px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  grid-gap: 2em;
}

.room__content-item-down .room__box-image {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  height: 338px;
  width: 368px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.room__content-item-down .room__box-image:hover {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.room__content-item-down .room__box-image img {
  background-size: contain;
}

.room__content-item-down .room__box-text {
  color: black;
}

.room__content-item-down .room__box-text h2 {
  padding-top: 1vh;
  font-size: calc(16px + 6 * ((100vw - 320px) / 1600));
}

.room__content-item-down .room__box-text ul {
  padding: 5px 0;
}

.room__content-item-down .room__box-text ul li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  word-wrap: break-word;
  min-height: 40px;
  text-align: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5vh 0;
  color: #d38b24;
  font-size: calc(12px + 1 * ((100vw - 320px) / 1600));
  border-bottom: 1px solid black;
}

.room__content-item-down .room__box-text ul li span {
  margin-right: 5px;
  text-align: start;
  color: black;
}

.room__content-item-down .room__box-text-btn {
  padding-top: 5px;
  width: 100%;
}

.room__content-item-down .room__box-text-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1600));
  background-color: black;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  border: 1px solid black;
}

.room__content-item-down .room__box-text-btn a:hover {
  background-color: white;
  color: black;
}

.catalogSection {
  background-color: #3c3c3c;
}

.catalogSection__content {
  padding: 6vh 30px;
  max-width: 1460px;
  margin: 0 auto;
}

.catalogSection__content h2 {
  margin-bottom: 50px;
  text-transform: uppercase;
}

.catalogSection__content-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  max-width: 1160px;
  margin: 0 auto;
}

.catalogSection__content-item-box {
  padding: 40px 0;
  text-align: center;
}

.catalogSection__content-item-box h6 {
  font-size: calc(59px + 20 * ((100vw - 320px) / 1600));
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.catalogSection__content-item-box h6:hover {
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}

.catalogSection__content-item-box .three {
  font-size: calc(70px + 20 * ((100vw - 320px) / 1600));
}

.catalogSection__content-item-box p {
  padding-top: 25px;
  font-size: calc(14px + 4 * ((100vw - 320px) / 1600));
  line-height: 32px;
}

.formSection__content__form input,
.formSection__content__form textarea,
.popup__item input,
.popup__item textarea {
  font-size: calc(14px + 4 * ((100vw - 320px) / 1600));
  padding: 5px;
  background-color: #eaeaea;
}

.formSection__content {
  padding: 6vh 30px;
  max-width: 1160px;
  margin: 0 auto;
}

.formSection__content__form {
  display: grid;
  grid-template-columns: 125px 1fr;
}

.formSection__content__form label {
  padding-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  color: black;
  text-transform: uppercase;
}

.formSection__content__form label .phoneReturn {
  display: none;
}

.formSection__content__form input {
  margin-bottom: 10px;
}

.formSection__content__formBtn {
  text-align: end;
  padding-top: 20px;
}

footer {
  padding: 6vh 30px;
  background-color: black;
  font-size: calc(14px + 4 * ((100vw - 320px) / 1600));
}

footer .footer__content {
  max-width: 1160px;
  margin: 0 auto;
}

footer .footer__content__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer__content__contacts-item {
  margin-right: 40px;
}

footer .footer__content__contacts-item:last-child {
  margin-right: 0px;
}

footer .footer__content__info {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-gap: 1em 0em;
}

footer .footer__content__info-item {
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  font-size: 26px;
}

footer .footer__content__info-item:hover {
  color: #d38b24;
}

hr {
  margin: 40px 0;
  color: white;
  /*для IE */
  background-color: white;
  border: 0px none;
  height: 0.1px;
  clear: both;
}

.contact {
  padding: 120px 20px 20px 20px;
  color: black;
  max-width: 1160px;
  margin: 0 auto;
}

.contact__content h2 {
  text-align: center;
  font-size: calc(26px + 10 * ((100vw - 976px) / 944));
  line-height: 46px;
  margin-bottom: 40px;
}

.contact__content-item {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-gap: 3em 1em;
}

.contact__content-item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__content-item-box .iconCont {
  font-size: calc(40px + 15 * ((100vw - 976px) / 944));
  margin-right: 20px;
}

.contact__content-item-box h3,
.contact__content-item-box a {
  color: black;
  padding-bottom: 5px;
  font-size: calc(22px + 4 * ((100vw - 976px) / 944));
}

.contact__content-item-box h4 {
  font-size: calc(16px + 3 * ((100vw - 976px) / 944));
}

body.lock {
  overflow: hidden;
}

.popup {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  opacity: 1;
  -webkit-transform: perspective(0px) translate(0px, 0) rotateX(0deg);
          transform: perspective(0px) translate(0px, 0) rotateX(0deg);
}

.popup h2 {
  text-align: center;
  font-size: calc(18px + 12 * ((100vw - 320px) / 1600));
  margin-bottom: 20px;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.popup__content {
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  opacity: 0;
}

.popup__content::after {
  content: "";
  position: absolute;
  border: 25px solid transparent;
  border-top: 25px solid #aaa3a3;
  border-right: 25px solid #aaa3a3;
  top: 0;
  right: 0;
}

.popup__content:before {
  z-index: 10;
  content: "";
  position: absolute;
  border: 25px solid transparent;
  border-top: 25px solid #aaa3a3;
  border-left: 25px solid #aaa3a3;
  top: 0;
  left: 0;
}

.popup__content .else {
  position: relative;
  background-color: #fff;
  color: #000;
  max-width: 800px;
  padding: 10vh 5vw;
  position: relative;
}

.popup__content .else::after {
  content: "";
  position: absolute;
  border: 25px solid transparent;
  border-bottom: 25px solid #aaa3a3;
  border-right: 25px solid #aaa3a3;
  bottom: 0;
  right: 0;
}

.popup__content .else::before {
  content: "";
  position: absolute;
  border: 25px solid transparent;
  border-bottom: 25px solid #aaa3a3;
  border-left: 25px solid #aaa3a3;
  bottom: 0;
  left: 0;
}

.popup__clouse {
  z-index: 20;
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: calc(20px + 6 * ((100vw - 320px) / 1600));
  color: black;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.popup__clouse:hover {
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);
}

.popup__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup__item input {
  margin-bottom: 10px;
}

.popup__item input::-webkit-input-placeholder {
  display: none;
}

.popup__item input::-moz-placeholder {
  display: none;
}

.popup__item input:-ms-input-placeholder {
  display: none;
}

.popup__item input::-ms-input-placeholder {
  display: none;
}

.popup__item input::placeholder {
  display: none;
}

.popup__item-formBtn {
  text-align: center;
  padding-top: 20px;
}

.placeholder {
  display: none;
}

/* увеличенная картинка */

#magnify {
  display: none;
  position: fixed;
  max-width: 90vw;
  height: auto;
  z-index: 9999;
}

#magnify img {
  width: 100%;
}

/* затемняющий фон */

#overlay {
  display: none;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  z-index: 9990;
}

/* кнопка закрытия */

#close-popup {
  width: 30px;
  height: 30px;
  background-color: #fff;
  -webkit-box-shadow: white 0px 0px 0.3em;
          box-shadow: white 0px 0px 0.3em;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}

#close-popup i {
  width: 30px;
  height: 30px;
  color: black;
  background-size: 14px 14px;
  display: block;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  position: relative;
}

#close-popup i:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  width: 50%;
  height: 2px;
  background-color: #000;
}

#close-popup i::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  width: 50%;
  height: 2px;
  background-color: #000;
}

#close-popup i:hover {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.aboutUsSection__content h2,
.catalogSection__content h2 {
  font-size: calc(18px + 4 * ((100vw - 320px) / 1600));
  font-weight: 300;
  padding: 0 0 0px 120px;
  position: relative;
  text-transform: uppercase;
}

.aboutUsSection__content h2:before,
.catalogSection__content h2:before {
  position: absolute;
  content: "";
  top: 6px;
  left: 0;
  width: 100px;
  height: 2px;
  background-color: white;
}

.aboutUsSection__content h2::after,
.catalogSection__content h2::after {
  position: absolute;
  content: "";
  bottom: 6px;
  left: 50px;
  width: 50px;
  height: 2px;
  background-color: white;
}

.progectUsSection__content h2 {
  font-size: calc(18px + 4 * ((100vw - 320px) / 1600));
  font-weight: 400;
  padding: 0 0 0px 120px;
  position: relative;
  color: black;
  text-transform: uppercase;
}

.progectUsSection__content h2:before {
  position: absolute;
  content: "";
  top: 6px;
  left: 0;
  width: 100px;
  height: 2px;
  background-color: black;
}

.progectUsSection__content h2::after {
  position: absolute;
  content: "";
  bottom: 6px;
  left: 50px;
  width: 50px;
  height: 2px;
  background-color: black;
}

.progectUsSection__content-button a,
.formSection__content__formBtn button,
.popup__item-formBtn button {
  border: 2px solid #000;
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-size: calc(14px + 6 * ((100vw - 320px) / 1600));
  padding: 10px 30px;
  background-color: #000;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.progectUsSection__content-button a:hover,
.formSection__content__formBtn button:hover,
.popup__item-formBtn button:hover {
  background-color: white;
  color: black;
}

body {
  font-family: "Roboto", "sans-serif";
  color: white;
}

body a {
  color: white;
}

.underline {
  position: relative;
}

.underline::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 0;
  background-color: #ffffff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.underline:hover:before {
  width: 50%;
  height: 2px;
}

.underline::after {
  content: "";
  position: absolute;
  right: 50%;
  bottom: -5px;
  width: 0;
  height: 0;
  background-color: #ffffff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.underline:hover::after {
  width: 50%;
  height: 2px;
}

@media (max-width: 1600px) {
  #magnify {
    max-width: 500px;
  }
}

@media (max-width: 1366px) {
  #magnify {
    max-width: 450px;
  }
}

@media (max-width: 1280px) {
  #magnify {
    max-width: 450px;
  }
}

@media (max-width: 1200px) {
  .room__content-item-down {
    grid-gap: 3em 1em;
    padding-top: 30px;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1176px) {
  #magnify {
    max-width: 400px;
  }
}

@media (max-width: 1139px) {
  .progectUsSection__content-item {
    grid-template-columns: repeat(2, 352px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 2em;
  }

  .progectUsSection__content-item .three {
    display: none;
  }
}

@media (max-width: 1024px) {
  #magnify {
    max-width: 600px;
  }
}

@media (max-width: 976px) {
  header .header__content-logo {
    width: 100%;
    height: 100%;
  }

  header .header__content-logo img {
    width: 100%;
  }

  .header__content-phone {
    display: none;
  }

  .headerW .headerW__content-logoW {
    width: 100%;
    height: 100%;
  }

  .headerW .headerW__content-logoW img {
    width: 100%;
  }

  .headerW__content-phone {
    display: none;
  }

  body.lock {
    overflow: hidden;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__content__menu {
    margin-left: 10vw;
    z-index: 3;
    position: fixed;
    text-align: center;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #060608;
    padding: 80px 10px 20px 10px;
  }

  .header__content__menu.active {
    margin-left: 0vw;
    left: 0;
  }

  .header__content__menu ul {
    display: block !important;
    margin-top: 20px;
  }

  .header__content__menu ul li {
    margin: 0 0 60px 0;
    margin-right: 0px !important;
    font-size: calc(28px + 32 * ((100vw - 320px) / 656));
  }

  .headerW__content__menuW {
    margin-left: 10vw;
    z-index: 3;
    position: fixed;
    text-align: center;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #060608;
    padding: 80px 10px 20px 10px;
  }

  .headerW__content__menuW.active {
    margin-left: 0vw;
    left: 0;
  }

  .headerW__content__menuW ul {
    display: block !important;
    margin-top: 20px;
  }

  .headerW__content__menuW ul li {
    margin: 0 0 60px 0;
    margin-right: 0px !important;
    font-size: calc(28px + 32 * ((100vw - 320px) / 656));
  }

  .underline::before,
  .underline::after {
    display: none;
  }
}

@media (max-width: 967px) {
  .room__content {
    padding: 60px 0px;
  }

  .room__content-item-up {
    grid-template-columns: 30% 70%;
    justify-items: center;
  }

  #magnify {
    max-width: 500px;
  }
}

@media (max-width: 855px) {
  .room__content-item-up .room__logo {
    height: 25vw;
    width: 25vw;
  }
}

@media (max-width: 800px) {
  .contact__content-item {
    grid-template-columns: 1fr;
  }

  .contact {
    padding: 100px 20px 20px 20px;
  }
}

@media (max-width: 768px) {
  .room__content-item-up .room__text h2 {
    margin-bottom: 20px;
  }

  .room__content-item-down .room__box .room__box-image {
    height: 45vw;
    width: 45vw;
  }
}

@media (max-width: 767px) {
  .aboutUsSection__content ul li {
    line-height: 22px;
  }

  .aboutUsSection__content p {
    line-height: 22px;
  }

  .progectUsSection__content-item {
    display: grid;
    grid-template-columns: repeat(1, 352px);
    grid-gap: 1em;
  }

  .progectUsSection__content-item .three {
    display: block;
  }

  .firsprogect__content-item {
    grid-template-columns: repeat(1, 1fr);
  }

  .firsprogect__content {
    padding: 30px 20px;
  }

  .catalogSection__content-item {
    grid-template-columns: repeat(1, 1fr);
  }

  .catalogSection__content-item-box {
    padding: 20px 0;
  }

  .formSection__content__form {
    grid-template-columns: 1fr;
    grid-gap: 0.5em 0em;
  }

  .formSection__content__form span {
    display: none;
  }

  .formSection__content__form label {
    padding-top: 0px;
    font-size: calc(14px + 4 * ((100vw - 320px) / 656));
  }

  .formSection__content__form label .phoneReturn {
    display: block;
  }

  footer {
    padding: 6vh 20px 6vh 20px;
  }

  .footer__content__contacts-item {
    line-height: 18px;
    margin-top: 10px;
  }
}

@media (max-width: 576px) {
  #magnify {
    max-width: 300px;
  }
}

@media (max-width: 500px) {
  .room__content-item-down .room__box .room__box-image {
    height: 89vw;
    width: 89vw;
  }

  .room__content-item-down {
    grid-template-columns: 1fr;
  }

  .room__content-item-up {
    grid-template-columns: 40% 60%;
    justify-items: center;
  }
}

@media (max-width: 400px) {
  .progectUsSection__content-item {
    justify-items: center;
  }

  .progectUsSection__content-item img {
    width: 90vw;
    height: auto;
  }

  .progectUsSection__content h2,
  .aboutUsSection__content h2,
  .catalogSection__content h2 {
    padding: 0;
    text-align: center;
  }

  .progectUsSection__content h2:before,
  .progectUsSection__content h2::after,
  .aboutUsSection__content h2:before,
  .catalogSection__content h2:before,
  .aboutUsSection__content h2::after,
  .catalogSection__content h2::after {
    display: none;
  }
}

@media (max-width: 360px) {
  #magnify,
  #overlay,
  #close-popup,
  #close-popup i {
    width: 0;
  }
}